[2014-08-22 16:39] Polielio opened #150 "Add faction GUI"
With /f shop the leader can upgrade is faction, he can expend the limit of players, he can buy power, an others.

[2014-09-06 18:55] DrkProdigy69 opened #159 "Update and now players cant /home from anywhere"
I've triple checked the config and i still cant see anything that might be causing this.
http://pastebin.com/DpJ8tZem
It makes it where they cant do /home from anywhere, but /ehome seems to work.
Running version 0.7.0

[2014-09-23 20:29] iamnessy2 opened #163 "/f warp issue"
Basically done as so.

/f setwarp test
(I just set a warp in a "only allowed in own territory" warp)

/f warp test
(Works, but if you try to warp outside the of your own territory it will not allow you, but also delete the warp!)

This basically is only allowing you to warp from inside your own territory unless you want it deleted...

Settings: http://pastebin.com/NA1eb7jP

[2014-10-03 05:59] monstercat101 opened #167 "Blocks pvp flying even when config set to allow it"
"allowAttackingWhileFlying": true,
With this config, flying pvp is still blocked, v 0.7.1

[2014-11-03 17:38] luckyclutch opened #168 "/baltop"
The faction ID's are showing up on the /baltop please how di I fix this since I do NOT want this

[2014-11-06 15:33] yosteric5 opened #169 "Factions-Broken"
When ever i try to download and run factions on my server it all ways does not work it says that could not load plugins/factionsplus.jar in the folder plugins or this can not load plugins/factions.jar my server version is this craftbukkit-1.7.10-R0.1-20140709.223820-1

[2014-11-09 09:35] rnoa opened #170 "Add support for WorldEdit 6.00"
Gives this error http://pastebin.com/EWrH9SUk
Thanks!

[2014-11-09 09:43] rnoa opened #171 "FlightInOwnTerritory has stopped working"
No errors on the console or anything at all.. Anyone else having this issue?

[2014-11-20 20:17] AmalMohan opened #172 "Add support for Factions 2.7.0+"
Just updated to factions 2.7.0 and looks like the plugin not loading at all.

[2014-11-22 06:55] LegitCake100 opened #173 "not working factionsplus pls help"
it says there that it cannot make the folder for it
http://pastebin.com/hqKpv45g

[2014-11-25 03:10] bladextd opened #174 "Factions Scoreboard"
The scoreboard on my server (for FactionsPlus) updated to the latest version is not updating.

[2014-12-13 10:07] AnonymousMW3 opened #175 "FactionsPlus have a problem with MassiveCore"
Version of FactionsPlus: 0.7.1(the last build)
Version of Factions: 2.7.4(the last build)
Version of MassiveCore: 2.7.4(the last build)
Version of Spigot: 1.8(the last build)
Pastebin of the error: http://pastebin.com/9y8RX7hn
Please read, i think if it's important!

[2015-01-01 21:04] coolemiel commented on #175
Same problem here! Really annoying...

[2015-01-02 10:54] AnonymousMW3 commented on #175
I hope that there will soon be an update!

[2015-01-13 11:20] MarkehMe commented on #173
`org.bukkit.plugin.UnknownDependencyException: Factions `

You need have have Factions.jar still.

[2015-01-13 11:20] #173 closed

[2015-01-13 11:21] MarkehMe commented on #170
To clarify this is not simply enabling support for WorldEdit 6, this is __Adding__ support for WorldEdit 6

[2015-01-13 11:22] MarkehMe commented on #174
Please supply more helpful information like your version, error logs, etc

[2015-01-13 11:22] #174 closed

[2015-01-13 11:22] MarkehMe commented on #175
Duplicate of #172

[2015-01-13 11:22] #175 closed

[2015-01-13 11:23] MarkehMe commented on #171
Duplicate of #172

[2015-01-13 11:23] #171 closed

[2015-01-13 11:23] #169 closed

[2015-01-14 02:44] JamieSinn opened #176 "Update plugin to 1.7.10/1.8.1"
As the update for 1.8 has been out for quite some time, this plugin really should be updated. It has been requested by multiple people.

[2015-01-14 02:46] JamieSinn commented on #176
Duplicate of #172

[2015-01-14 02:46] #176 closed

[2015-02-20 14:27] drtshock opened #178 "FactionsUUID Compatibility"
As I saw in the comments on your page and mine now, you are looking to add compatibility <3 Now, my project is open source so you're free to clone and just mvn clean install it so it's in your local .m2, no need to purchase.

I'm here offering assistance to make sure everything is compatible. I know that my project has a few of the features included in your project so it's best to be sure that if

[2015-02-20 21:58] MarkehMe commented on #178
Thanks for the hints! I'm thinking of using reflection but read online that it can be rather slow.

Will take a look at your project over the weekend, thanks!

[2015-02-22 17:12] franga2000 commented on #172
Any progress on the update? `2.7.4` still gives me a bunch of `NoClassDefFound` errors.

[2015-02-23 01:07] MarkehMe commented on #172
Downgrade and wait for now. The entire plugin is being recoded to support all versions of Factions.

[2015-03-22 12:54] SharpCraft opened #179 "Flight in own territory bug"
When someone is given the permission factionsplus.flightinownterritory he can fly for a while, then he falls and has to leave the faction and join it again to be able to fly again.

[2015-04-03 12:26] Aedenia commented on #172
hi :)  news  ? for the update 2.7 ?  thanks.

[2015-05-11 09:40] Aedenia opened #180 "lang FR"
Hi,

I want create traduction FR , how i can ?

[2015-05-11 11:11] MarkehMe commented on #180
Inside mstore look for the LConf file! :)

[2015-05-11 11:11] #180 closed

[2015-05-14 10:46] Aedenia commented on #180
ohhh great !  thanks.   And  we can change factions ? or we need change plugins.

[2015-05-14 11:20] MarkehMe commented on #180
I don't 100% understand what you mean buy you require Factions 2.5.0 and the Massive Core to go along with it.

[2015-05-14 11:45] #163 closed

[2015-07-23 19:50] Minitoast opened #181 "No config upon install the plugin?"
Once the plugin has been added to plugins, it gets a detected as a plugin but there are no config files or anything, (server version .1.7.9)

[2015-07-26 11:29] MarkehMe commented on #181
It'll be in your mstore folder, like regular Factions. :)

[2015-07-26 11:29] #181 closed

[2015-09-02 21:06] Delliurm opened #182 "Sorry, your ranking is not high enough to create warps!"
I am running Factions V1.8.2-U0.7. I am using factions plus version 0.5.2. In order to get this factions to work on spigot I had to have the plugin re-worked so that it would use the mcore database instead of gson library, since paperspigot has none. Regardless this fixed it and every aspect of the factions plugin works fine. I recently installed the factionsplus and it loads perfect, no errors. I

[2015-09-03 04:42] MarkehMe commented on #182
Yikes, quite an old version of FactionsPlus. 0.7.1 is the most stable version out. 0.5.2 is not very stable, maybe even try 0.5.3 (http://dev.bukkit.org/bukkit-plugins/factionsplus/files/30-factions-plus-0-5-3/)

Factions Plus 0.7.1: http://dev.bukkit.org/bukkit-plugins/factionsplus/files/50-factions-plus-v0-7-1/

I suggest upgrading to the plugins listed as the tested versions (newer versions of

[2015-09-03 04:42] #182 closed

[2015-09-03 19:17] Delliurm commented on #182
Thing is, im creating a factions server, and seems that the most dedicated faction players, and servers, like gontroller, use the factions version I am using. It is what everyone is use to and like the most. I have tried a few other faction plus versions with Factions V1.8.2-U0.7. Yet this is the only version I can get to load, all the others have errors. Do you know of one that would work with th

[2015-09-03 23:42] MarkehMe commented on #182
Unfortunately a lot of work is required on the older versions of FactionsPlus. I am how've helping upstream with Factions now.

So, if you let me know what features are missing I can implement them into Factions!

[2015-09-06 23:27] MarkehMe commented on #172
It's quite a lot of work to remove the universe system, so I've been pushing major features into the main plugin if Factions until I have time to rebuild the entire plugin

[2015-09-19 20:47] Delliurm commented on #182
My questions is this, I can pay you to fix this for me. Since you are the creator of the f plus plugin I figured it would be easiest for you. Ive had a few devs look into it and they are having issues. If I give you my paperspigot, my mcore, my factions and the fplus i use. Can you fix it for me? Again I will pay you whatever you ask. Seems the problem is the fplus dosent use uuid, and my factions

[2015-09-20 02:31] MarkehMe commented on #182
@Delliurm I can take a look into this. Can you add me on Skype - markehme

[2015-10-20 22:39] MarkehMe commented on #178
Will be in FactionsPlus 2.0

[2015-10-20 22:39] #178 closed

[2015-10-21 03:15] MarkehMe commented on #167
Closing old bug reports as they're not relevant to the up-coming version of FactionsPlus.

[2015-10-21 03:15] #167 closed

[2015-10-27 02:28] #168 closed

[2015-10-27 02:29] MarkehMe commented on #172
Fixed in FactionsPlus 2.0

[2015-10-27 02:29] #172 closed

[2015-10-27 02:29] #159 closed

[2015-10-27 02:29] #179 closed

[2015-11-14 20:35] Eternalrealms opened #183 "Faction name tags."

[2015-11-14 23:04] MarkehMe commented on #183
Fantastic idea! I'll add this.

I wont charge you for the feature, but if you think its helpful when it's added please consider donating. :smiley:

[2015-11-14 23:04] MarkehMe commented on #170
In FactionPlus v2

[2015-11-14 23:04] #170 closed

[2015-11-19 03:35] MarkehMe commented on #150
Making this into a separate plugin.

[2015-11-19 03:35] #150 closed

[2015-11-19 23:25] Ymerejliaf opened #184 "Plugin won't load"
Hi,
I'm assuming that this error is something to do with the version of java or bukkit, but I'm not sure. At any rate, here's the error I get. I appreciate any help given in advance.

[17:17:53] [Server thread/WARN]: org.bukkit.plugin.InvalidPluginException: java.lang.UnsupportedClassVersionError: me/markeh/factionsplus/FactionsPlus : Unsupported major.minor version 52.0
[17:17:53] [Server thread/

[2015-11-26 00:33] MarkehMe commented on #184
Please update to Java 8 :-)

[2015-11-26 00:33] #184 closed

[2015-12-23 02:41] EliasXOF opened #185 "No Mstore config"
Recently I found that by accident when I deleted my mstore config for maintenance there was no longer a FactionsPlus config for mstore and now I am kinda...wondering how I'm gonna work that out without having to take the whole server apart.

Is there a way or a place I can find the mstore folders for FactionsPlus?
23.12 03:41:40 [Server] INFO at java.lang.Thread.run(Unknown Source) [?:1.8.0_45]
23

[2015-12-23 08:17] MarkehMe commented on #185
Doesn't use mstore anymore, uses it's own configuration.

Please use Spigot! :smile: ```java.lang.NoClassDefFoundError: net/md_5/bungee/api/ChatColor``` it's looking for a spigot class

[2015-12-23 08:17] #185 closed

[2015-12-24 08:20] EliasXOF opened #186 "Instances"
So after using Spigot 1.8.8 and abandoning mstore. There seems to be no way to edit the instances and or the errors of the Instances
When I type /f addrule it will say <red>you don't have permission to view the rules
also I can enable them only to get an error in the console which apparently is asking for Spigot even though I'm using Spigot already.

[2015-12-24 11:53] DahFrozen opened #187 "Configurable Messages."
It would be great if you could configure the messages of the plugin to allow more customisation or make it more suitable for different languages.

[2015-12-26 05:45] EliasXOF opened #188 "More splendid errors"
26.12 06:39:36 [Server] INFO [Error] It has been saved to plugins/FactionsPlus/logs/1451108376702.errorlog
26.12 06:39:36 [Server] WARN at java.lang.Thread.run(Unknown Source)
26.12 06:39:36 [Server] WARN at net.minecraft.server.v1_8_R3.MinecraftServer.run(MinecraftServer.java:556)
26.12 06:39:36 [Server] WARN at net.minecraft.server.v1_8_R3.MinecraftServer.A(MinecraftServer.java:653)
26.12 06:39:

[2015-12-26 09:57] DraksterAU opened #189 "Ability for areas not claimed to be automatically regenerated over time?"
Hi Mark,

It'd be really cool for anywhere in the wilderness to automatically reset back to the default block from the world seed  over time...

Just a feature request/suggestion :)

[2015-12-26 10:13] DraksterAU commented on #189
Also popped this in with massivecraft, no point you doing it if they are willing to =D

[2015-12-26 12:43] DraksterAU commented on #189
https://github.com/MassiveCraft/Factions/issues/993 They rejected saying they do it on the massivecraft server and its NFS :(

[2016-01-03 23:26] MarkehMe commented on #188
I've made a fix for this issue and it's being uploaded soon.

[2016-01-03 23:26] MarkehMe commented on #187
Working on it.

[2016-01-03 23:27] MarkehMe commented on #186
Have you given the permission to add rules?

https://github.com/MarkehMe/FactionsPlus/wiki/Permissions

[2016-01-03 23:30] MarkehMe commented on #189
Let me know if this is still required.

[2016-01-03 23:30] MarkehMe commented on #188
Also, please upload the file plugins/FactionsPlus/logs/1451108376702.errorlog to pastebin

[2016-01-03 23:31] DraksterAU commented on #189
Hi @MarkehMe Factions rejected this idea as they have a proprietary plugin for it.

if you can do this, this would be something that a lot of people would love!!! Allows us to have perpetual worlds without admin intervention kind of thing..

[2016-01-05 20:17] bencerda1 opened #190 "Errors"
Whenever I try to use /f setwwarp or /f setjail (maybe others, haven't tried) I get these errors:
Setwarp: http://pastebin.com/eRb6envu
Setjail: http://pastebin.com/4p5Wg61w

[2016-01-10 02:58] DraksterAU commented on #189
Simply put this idea would be to either:

1. On chunk unclaim revert to seed of world
2. On a schedule do the same for unclaimed chunks

If you can allow them to be configured individually I'd appreciate it :)

@markehme if you do this I'm more than happy to pay a smallish amount, especially if this works with Factions 2.5 (latest Kcauldron supported)

[2016-01-11 03:39] SirFaizdat opened #191 "NPE with FPlayer.get()"
I have been receiving this error with numerous commands (I ran /f announce for this one though).

Stack trace:
[code]

[2016-01-14 01:39] alexsatellite opened #192 "Things from one random old version!"
Hello, today looking in mcmarket I found a old version of factionplus which had a very good feature for the teleport with the command /home /back , etc.
Would be awesome if you add this back.

version of the plugin: factionplus 0.6.9.5
the config:
http://pastebin.com/VxghSher

[2016-01-16 07:48] MarkehMe commented on #192
Great, thanks for the suggestion!

I agree - these old teleportation features made controlling the game play so much better. I'll be sure to add them in the future. Thanks again.

[2016-01-16 07:49] MarkehMe commented on #191
Please provide the entire stack trace and provide your version of Factions and/or MassiveCore!

[2016-01-16 07:50] MarkehMe commented on #189
Working on this for you. Please if you're thinking of supporting my plugin development contribute to my patreon campaign!

Does the latest version of FactionsPlus work on Factions 2.5? I always test on the latest version of Factions so I'm not too sure! If it throws errors, let me know and I'll see if it'll be easy to support! :)

https://www.patreon.com/markehme

[2016-01-16 07:51] MarkehMe commented on #190
Apologies for the delay, I've been busy of the christmas and new year break!

I will look into this for you. Oddly, no one else has reported this issue.

[2016-01-16 07:57] DraksterAU commented on #189
Hi Mark,

Will do some testing with the latest FactionsPlus soon as possible.
With regards to the latest factions, I'm sure you are aware of the whole We don't support KCauldron thing... that has me stuck on less than v2.6 :(
Fix that too and I'll update in a heartbeat ;)

One last thing - just quickly, if you could allow us to set a list of worlds that do not get regenerated under any circumstanc

[2016-01-16 08:13] MarkehMe commented on #189
Absolutely! Making everything as configurable as possible is what I want most :)

[2016-01-16 08:22] DraksterAU commented on #189
Donated :) Sounds great man!

[2016-01-16 08:44] MarkehMe commented on #189
I appreciate it so much! I'll need to add you on Skype :+1:

[2016-01-16 09:04] DraksterAU commented on #189
Haha thanks man! Drakster@live.com.au is the Skype.

Some basic testing with the (second to latest) build of KCauldron + Your latest plugin results in some fun errors... :(

Taken from the errorlog.

, ----------------------------------------
Error Log started on Sat Jan 16 19:55:50 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version

[2016-01-16 12:37] alexsatellite commented on #192
Thanks to you so much! I hope you make it asap :D

[2016-01-17 02:03] MarkehMe commented on #189
May need to create a different compatibility layer to support that version of Factions.. let me see what I can do!

[2016-01-17 04:18] DraksterAU commented on #189
If you can I really appreciate it man!

My server is stargatemc.com by the way, it's a hobby project I've had going for quite some time now (Ive only just release a v1.0 server for players to play on).

If you'd like a rank on that, let me know!! :)

PS: Just so you know the main features I use in your plugin are inventory saving and hopefully the world regen, haha.. if that compatibility layer on

[2016-01-17 04:20] MarkehMe commented on #189
Spent the past few hours supporting <= Factions 2.6.0 and the newer upcoming command structure thats been introduced (their API is getting painful to keep up with! )

[2016-01-17 04:21] DraksterAU commented on #189
Wow, thanks Mark :D

So it looks like we're good for compatibility then?

[2016-01-17 05:00] MarkehMe commented on #189
Sure are. I'm just trying out the development builds of Factions now.

[2016-01-17 06:13] DraksterAU commented on #189
Nice !!! :D

How did you logic your way through it all? Is the event on chunk unload? or?

Our original goal was to have chunks that match the following to be safe from regen;

- Config option disabling world regen for the specified world for the chunk in question
- Chunk loader should stop world regen (we have personal anchors which have a time limit and need fuel)
- Player in chunk and online, i

[2016-01-18 00:34] DraksterAU commented on #189
@MarkehMe Hey man, wondering if we can test the dev build with 2.6 compatibility? That is if its ready :)

[2016-01-18 03:24] MarkehMe commented on #189
When a player enters a chunk we store the chunks x and z values along with a timestamp.

Every specified minutes (default, 10) we check if it is past the regeneration time.

By //default// it will reset using the seed.. however, as seen in the past Minecraft does change their biome generation algorithms now and then. Which is why we will hook into logblock and a few others so we can easily revert

[2016-01-18 03:43] DraksterAU commented on #189
Hi Mark,

I'm assuming you mean leaves?

Does that mean that by default I can use the seed only, without LogBlock or Prism? That is preferred as we have issues with both using KCauldron.... its to do with having forge items in a chunk occasionally and them being bukkit plugins. Seed would just blow away all.

[2016-01-18 03:45] DraksterAU commented on #189
Can you make it possible to use the seed without integration please?

Do you mean leaves a chunk?

Sent from my iPhone

[2016-01-18 22:08] DraksterAU commented on #189
Hi @MarkehMe

Is the 2.6 support finished? I'm not seeing any reasons why I cant build based on your code and run with it :P

[2016-01-19 03:36] MarkehMe commented on #189
Serious issues with the TMap in the configuration file management. Only used for warps and warp passwords at the moment though.

If an offline player is inside a recently regenerated chunk they at the moment will be stuck inside any blocks/changes/etc.. but I could make it detect this and have them pop to the top-most block?

It will redo the chunk in a seperate thread (i.e. won't effect other act

[2016-01-19 03:49] DraksterAU commented on #189
@MarkehMe You are a genius... Top most block is great!
If theres any chance you could do a config, would you mind adding support for that to teleport to world spawn if theyre offline? Players may find themselves disoriented if the landscape is changing after logging out... Most servers will have a world spawn that is constant and claimed... we do, it has a stargate on it too....

Separate thread i

[2016-01-19 04:05] MarkehMe commented on #189
Sure :) I'm working on the TMap issue at the moment, should be fixed in half hour to an hour. If you wanted to test that build that would be awesome.

To use <= 2.6 you need to have an additional plugin i've made called "Factions 2.6 Patches" which just adds classes in for compatibility. :)

[2016-01-19 05:11] DraksterAU commented on #189
Win!!!

I'll try Factions 2.5 with FP as soon as you post it is ready :)

[2016-01-19 06:15] MarkehMe commented on #189
You do need Factions 2.6 Patches, make sure it is in your plugins folder as well!

* [FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/95402/FactionsPlus.jar.zip)
* [Factions26Patches.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/95401/Factions26Patches.jar.zip)

Let me know if it works. I will trial it in a bit myself

[2016-01-19 06:36] DraksterAU commented on #189
See attached logs, this is with Factions 2.5 (Testing with 2.6 now)

[2016-01-19 06:37] DraksterAU commented on #189
----------------------------------------
Error Log started on Tue Jan 19 17:34:08 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.5.0
MassiveCore Version: 7.3.0
----------------------------------------
Error:me.markeh.factionsframework.command.versions.FactionsCommand2_6Wrapper.setHelp(java.lang.S

[2016-01-19 06:37] DraksterAU commented on #189
----------------------------------------
Error Log started on Tue Jan 19 17:34:08 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.5.0
MassiveCore Version: 7.3.0
----------------------------------------
Error:com.massivecraft.factions.cmd.CmdFactions.addSubCommand(com.massivecraft.factions.cmd.FCom

[2016-01-19 06:37] DraksterAU commented on #189
----------------------------------------
Error Log started on Tue Jan 19 17:34:08 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.5.0
MassiveCore Version: 7.3.0
----------------------------------------
Error:me.markeh.factionsframework.command.versions.FactionsCommand2_6Wrapper.setHelp(java.lang.S

[2016-01-19 06:37] DraksterAU commented on #189
----------------------------------------
Error Log started on Tue Jan 19 17:34:08 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.5.0
MassiveCore Version: 7.3.0
----------------------------------------
Error:com.massivecraft.factions.cmd.CmdFactions.addSubCommand(com.massivecraft.factions.cmd.FCom

[2016-01-19 06:37] DraksterAU commented on #189
----------------------------------------
Error Log started on Tue Jan 19 17:34:08 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.5.0
MassiveCore Version: 7.3.0
----------------------------------------
Error:optionalArgs
----------------------------------------
java.lang.NoSuchFieldError: optional

[2016-01-19 06:54] DraksterAU commented on #189
@MarkehMe
Same errors with v2.6  :(

[2016-01-19 06:54] DraksterAU commented on #189
I get this one with V2.7
----------------------------------------
Error Log started on Tue Jan 19 17:52:11 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.6.0
MassiveCore Version: 2.7.0
----------------------------------------
Error:com/massivecraft/factions/zcore/util/TL
-------------------------

[2016-01-19 07:03] DraksterAU commented on #189
Not seeing any functional errors in 2.7 - is regeneration done yet? I turned it on but it doesn't do anything.

Also, is keepinventory on for the new version of FP?

[2016-01-19 07:04] DraksterAU commented on #189
----------------------------------------
Error Log started on Tue Jan 19 17:58:49 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.174 (MC: 1.7.10)
FactionsPlus Version: 2.0.0-beta4
Factions Version: 2.7.0
MassiveCore Version: 2.7.0
----------------------------------------
Error:com/massivecraft/massivecore/command/type/Type
----------------------------------------
ja

[2016-01-19 10:32] MarkehMe commented on #189
Regeneration is not done yet, no. It will detect it just not act on it :)

Alright. Going to aggressively fix those bugs now

[2016-01-19 21:42] DraksterAU commented on #189
No worries man!! :)

Question, do you not do inventory saving on death in the newer versions?

[2016-01-20 03:01] DraksterAU commented on #189
@markehme how goes the coding sir? Mr Keen bean awaiting orders to test, sir!

[2016-01-20 23:36] MarkehMe commented on #189
As FactionsPlus v2 is a complete rewrite I'm adding features back, but of course I priorities features of higher request :)

[2016-01-20 23:41] MarkehMe commented on #189
Also in regards to saving inventory depending on which land they're in it might be worthwhile using FactionsPerms (http://dev.bukkit.org/bukkit-plugins/factionsperms/) and a Keep Inventory plugin, and apply the permission only to the lands required :)

[2016-01-21 00:05] DraksterAU commented on #189
Haha if that's the way you wanna do it from now on that is awesome! I'll test some keepitems plugins...  if they all fail miserably (some of them do) i'll let you know :P

Do you have a rough estimation on how long til the bugs are fixed bud? :) Keen to test regen and/or FP 2.0 w/ Factions 2.6 or 2.7.

[2016-01-21 00:07] MarkehMe commented on #189
Since a new version of Factions has been released today I'm working hard to release it today!

[2016-01-21 00:10] DraksterAU commented on #189
Love your work! :)

[2016-01-21 00:17] DraksterAU commented on #189
Think this might fix cauldron support if they've completely rewritten commands ... Sort of?

https://github.com/MassiveCraft/Factions/commit/753310561aded16e8b1be7a9d0cd775e17743d1f

Sent from my iPhone

[2016-01-21 00:30] MarkehMe commented on #189
The issue with Cauldron is that the MassiveCraft team have added a reflection utility that tries to use a 1.8 effect, however Cauldron/KCauldron is still on the 1.7 API.. so your best bet is to get them to update to the 1.8 API. I've tried to add my own fixes but.. it's just not going to work.

[2016-01-21 01:04] DraksterAU commented on #189
Kcauldrons authors (at least spanner man) is an ass unfortunately.

They're of the nature that people "need to support cauldron" because they need to be taken seriously. Realistically this is because they don't take being the cauldron Devs seriously.

Do you happen to know if it's possible for me to patch cauldron? I can build a custom jar just not sure what to add/remove/change.

Sent from my iPh

[2016-01-21 02:28] MrEvilChaos opened #193 "[Error] Oh no, an internal error has occurred! :-("
http://pastebin.com/c7bSxEV1

[2016-01-21 03:29] MarkehMe commented on #189
Not entirely sure, sorry. I'm extremely unfamiliar with KCauldron. If they want the support of developers, they should start by supporting to 1.8!

This however, should support older versions of Factions (spent all day on it). Let me know if it works for you:

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/98613/FactionsPlus.jar.zip)

[2016-01-21 03:29] MarkehMe commented on #193
I haven't tested with 2.8.3 but if you would like to test this build and see if it works that would be awesome.

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/98611/FactionsPlus.jar.zip)

[2016-01-21 03:36] MrEvilChaos commented on #193
Sorry, but still an error

----------------------------------------
Error Log started on Wed Jan 20 22:35:02 EST 2016
----------------------------------------
Server Version: git-Spigot-db6de12-18fbb24 (MC: 1.8.8)
FactionsPlus Version: 2.0.0-beta3
Factions Version: 2.8.3
MassiveCore Version: 2.8.3
----------------------------------------
Error:com.massivecraft.factions.cmd.CmdFactions.removeSubCom

[2016-01-21 03:38] MarkehMe commented on #193
Just tested it and worked it out.. try this out.

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/98624/FactionsPlus.jar.zip)

[2016-01-21 03:41] MrEvilChaos commented on #193
Yes working like a charm!

[2016-01-21 03:59] MarkehMe commented on #193
Great.

This is included in the released beta 4 which you can grab from here: http://dev.bukkit.org/bukkit-plugins/factionsplus/files/54-factions-plus-v2-0-0-beta4/

[2016-01-21 03:59] #193 closed

[2016-01-21 04:06] MarkehMe commented on #190
Should not be an issue anymore, if it is please open a new ticket

[2016-01-21 04:06] #190 closed

[2016-01-21 04:07] #191 closed

[2016-01-21 04:07] MarkehMe commented on #191
Please try beta 4 and let me know if there is an issue.

[2016-01-21 04:08] #186 closed

[2016-01-21 04:33] DraksterAU commented on #189
Oh wow!! Cant wait to get home =D

What can I expect in this version ? FP Functional with 2.6/7? Regen ? :)

[2016-01-21 05:29] DraksterAU commented on #189
Hi @MarkehMe I've tested 2.5 and the plugin loads without error :)

[2016-01-21 10:55] MarkehMe commented on #189
Great, released it on dev.bukkit - new Factions was released so really had to push that out!

Working on more features tomorrow. :)

[2016-01-21 15:29] DraksterAU commented on #189
@MarkehMe Sounds great bud! :D

[2016-01-21 22:29] DraksterAU commented on #189
@MarkehMe

Can you please review the config ideas I have for the regen?

- Worlds to be excluded completely

Reason: This is for Server build worlds, obviously :)

- Radius around spawn to exclude from regen on worlds that have it enabled.

Reason:  I ask for this is World generation causes a stargate to build on the spawn block for us, and I am worried your plugin will overwrite it if it isnt cla

[2016-01-26 20:28] DraksterAU commented on #189
@MarkehMe Hows this one going bud?

[2016-01-27 02:22] MarkehMe commented on #189
@DraksterAU working on it, will need it to be properly tested soon enough!

[2016-01-27 02:23] DraksterAU commented on #189
:D

Sent from my iPhone

[2016-02-02 06:31] DraksterAU commented on #189
@MarkehMe Any chance you've been able to crack the regeneration code bud? :P

[2016-02-04 02:46] MarkehMe commented on #189
It's actually in the latest source, just needs to be tested :)

[2016-02-04 04:58] DraksterAU commented on #189
Tried compiling... Not willing to buy factionsuuid to do it lol

Sent from my iPhone

[2016-02-05 21:10] bencerda1 opened #194 "Errors still happening"
Had a ticket at the beginning of the month, it would appear the issue I have isn't fixed. Same issue with setwarp and jail, but I also checked into the rules with the same issue.

Setwarp: http://pastebin.com/48Jk8f5p

Setjail: http://pastebin.com/ahDkqU80

Addrule: http://pastebin.com/j7eE1PHH

[2016-02-09 05:40] DraksterAU commented on #189
@MarkehMe Happy to test for you if you're up for compiling a build :P

[2016-02-09 11:20] MarkehMe commented on #189
Compiling is a bit of a handful (.. ugh) here it is. I haven't looked at it in a few days - i've been away on a holiday, it should be ok though..

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/122982/FactionsPlus.jar.zip)

[2016-02-09 11:20] MarkehMe commented on #194
Thanks, there has been a change created now that will alter how this works.

Does this only happen when you're in a faction? or is this when you're not in a faction?

[2016-02-09 11:41] DraksterAU commented on #189
Hi @MarkehMe Thanks for that! All good.. holidays are needed haha!
I'm getting an NPE as soon as I enable Regen :/ see below

----------------------------------------
Error Log started on Tue Feb 09 22:40:36 AEDT 2016
----------------------------------------
Server Version: 1.7.10-1614.184 (MC: 1.7.10)
FactionsPlus Version: 2.0.0
Factions Version: 2.8.5
MassiveCore Version: 2.8.5
-----------------

[2016-02-09 11:44] DraksterAU commented on #189
[code]

[2016-02-09 11:45] DraksterAU opened #195 "Exception on Faction disband w/ Factions 2.8.5"
[code]

[2016-02-09 12:13] MarkehMe commented on #189
This has to do with one of the scoreboard events on disband. Shouldn't even be running it yet, let me turn it off

[2016-02-09 12:24] DraksterAU commented on #189
The events also don't kick in at all... I travelled 500 blocks in one direction and came back and the chunk hadn't done anything....  I set the ms to 50.. Haha

Sent from my iPhone

[2016-02-09 22:07] bencerda1 commented on #194
No errors when outside a faction, only when in one.
On Feb 9, 2016 6:20 AM, "Mark Hughes" <notifications@github.com> wrote:

[2016-02-10 01:14] MarkehMe commented on #194
Odd, thanks for reporting. I'll have a test build for this soon.

[2016-02-10 02:21] MarkehMe commented on #195
This build should fix this (disabled the additional listeners until scoreboards are completed)

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/124124/FactionsPlus.jar.zip)

[2016-02-10 05:54] DraksterAU commented on #189
@MarkehMe Is it possible KCauldron isn't registering your regeneration events?

[2016-02-10 06:43] MarkehMe commented on #189
50ms.. jeeze. Try setting it to 5000ms :)

[2016-02-10 07:11] DraksterAU commented on #189
haha... Okay :P

Is this anything to worry about? Happens on start with Regen enabled

java.lang.NullPointerException
        at me.markeh.factionsplus.FactionsPlus$1.run(FactionsPlus.java:163) ~[?:?]
        at org.bukkit.craftbukkit.v1_7_R4.scheduler.CraftTask.run(CraftTask.java:71) ~[CraftTask.class:1.7.10-1614.184]
        at org.bukkit.craftbukkit.v1_7_R4.scheduler.CraftScheduler.mainThreadHe

[2016-02-10 08:12] MarkehMe commented on #189
Yep :( i'll look into this more later. We're close though!

[2016-02-10 08:28] DraksterAU commented on #189
@MarkehMe no worries man! Happy to help in anyway I can.. lol!

[2016-02-16 02:59] DraksterAU commented on #189
@markehme I know your busy with the Cauldron stuff at the moment, but is there any chance you have an ETA for this guy ? : P

[2016-02-19 04:28] DaddyMew opened #196 "Error."
http://pastebin.com/whDD7zCs

[2016-02-19 05:30] MarkehMe commented on #196
Did you recently upgrade from a different version of FactionsUUID?

[2016-02-19 05:30] DraksterAU commented on #196
Using Factions26Patches?
Try the builds mentioned in the more recent issues. Might help.... But you definitely need the patches plugin for <2.6

[2016-02-19 05:31] DraksterAU commented on #196
Sorry @markehme didn't see your comment

[2016-02-19 16:21] DaddyMew commented on #196
No I been having the latest version which is "1.6.9.5-U0.1.18-b302".

Ill add the patches plugin and try and downgrade my current version of factionsplus.

[2016-02-20 02:08] MarkehMe commented on #196
Appears I made some changes to the reflection utils at some point and did it incorrectly.. fixing now, will put a dev build here for you to try soon.

[2016-02-20 02:09] #196 closed

[2016-02-20 02:09] MarkehMe commented on #196
[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/138953/FactionsPlus.jar.zip)

[2016-02-20 06:05] DaddyMew commented on #196
Works perfect now after updating the plugin, thankyou.

[2016-02-21 00:06] MarkehMe commented on #196
Enjoy! :smiley:

[2016-02-21 08:10] DraksterAU opened #197 "Factions overrides WorldGuard?"
Hi @MarkehMe

Is there any  way for your WorldGuard check to allow me to protect area first, with Factions, then put a WG Region on top of that that can be rented by players?

I'm trying to create Regions within our spawn area that I want to be faction-protected and the only way I can see this working is with a __global__ region set with no factions on this world.

Any thoughts?

[2016-02-21 08:46] DraksterAU commented on #197
Nevermind, I'll just do a world without factions.

[2016-02-21 08:46] #197 closed

[2016-02-24 03:03] DraksterAU commented on #189
@markehme whoops I closed it my bad

[2016-02-24 03:13] DraksterAU commented on #189
@markehme I'd be tempted to make this into its own plugin hey. You could easily make $5-10 a hit imo... As a premium resource.

[2016-02-24 23:34] MarkehMe commented on #189
No problem. It should be working in-source now though, I need to do further testing

[2016-02-25 00:19] DraksterAU commented on #189
@markehme compile a copy and I'll happily help ;)

[2016-02-27 22:53] DraksterAU commented on #189
@MarkehMe This any closer to completion bro?
The Code is not working in source, the task /scheduled job you run for wilderness throws NPEs and never executes.

[2016-03-09 04:36] #195 closed

[2016-03-09 05:03] DraksterAU commented on #189
Any luck man?
I really wish I knew Bukkit haha
Just spent the last 3 months learning Java and basic forge

[2016-03-10 05:54] MarkehMe commented on #189
I've been sick all week unfortunately and haven't gotten around to my side projects much

[2016-03-10 05:59] DraksterAU commented on #189
No worries bud. GWS!

[2016-03-13 19:53] alexsatellite opened #198 "f warp error:"
http://hastebin.com/usetesotiw.avrasm

[2016-03-15 01:41] MarkehMe commented on #198
Please provide some more information. The file ```plugins\FactionsPlus\logs\1457898712966.errorlog``` contains information that would be helpful, please upload this to a paste service and provide the link.

Is the player ByteMagic in a faction?

[2016-03-15 02:05] MarkehMe commented on #198
Found the problem.. will be pushing a fix up soon.

[2016-03-15 02:23] MarkehMe commented on #198
Here is a development build you can try, it should fix the issue.

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/173172/FactionsPlus.jar.zip)

[2016-03-19 14:48] rockmanvnx6 opened #199 "Factions Command errors with 2.8.7Beta"
this is my error.log : http://pastebin.com/RbhTnS7Q
my bukkit version is 1.8.8

[2016-03-20 04:52] SirFaizdat commented on #199
I'm also having this problem.

[2016-03-20 04:59] MarkehMe commented on #199
Hi! Thanks for letting me know. Factions 2.8.7Beta has not been properly tested yet, however I quickly put this together and it should fix support for it.

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/181168/FactionsPlus.jar.zip)

Please let me know if this works for you.

[2016-03-20 05:14] SirFaizdat commented on #199
I'm getting this error now. Note that the stack trace is backwards (so it starts at the bottom).
[code]

[2016-03-20 05:17] MarkehMe commented on #199
Did you reload or restart?

[2016-03-20 05:24] SirFaizdat commented on #199
I restarted the server, and there are no errors, but it doesn't seem that FactionPlus' commands are registering. When typing "/f warps" or "/f rules", it just says that the subcommand couldn't be found. Here is my FactionsPlus folder.

[FactionsPlus.zip](https://github.com/MarkehMe/FactionsPlus/files/181175/FactionsPlus.zip)

[2016-03-20 05:48] rockmanvnx6 commented on #199
`nt to FactionsPlus
[13:43:25 INFO]: [FactionsPlus] [Error] Oh no, an internal error has occurred! :                                               -(
[13:43:25 WARN]: java.lang.NoSuchMethodError: me.markeh.factionsframework.comman                                               d.versions.FactionsCommand2_XWrapper.setHelp([Ljava/lang/String;)V
[13:43:25 WARN]:        at me.markeh.factionsframework.c

[2016-03-20 07:06] #198 closed

[2016-03-20 07:07] #194 closed

[2016-03-20 07:15] MarkehMe commented on #199
Fixed.

[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/181196/FactionsPlus.jar.zip)

[2016-03-20 07:15] #199 closed

[2016-03-20 07:19] #188 closed

[2016-03-20 07:20] MarkehMe commented on #187
Available in the latest version - see texts.yml, more will be added in the future.

[2016-03-20 07:20] #187 closed

[2016-03-20 07:52] DraksterAU commented on #189
@MarkehMe Hey Man, hope you're well. Has there been an update on this one?

[2016-03-20 08:51] MarkehMe commented on #189
I've been changing a lot inside FactionsFramework to make this a bit easier to work with, I'll let you know. :smile:

[2016-03-20 19:02] SirFaizdat opened #200 "Nothing saves"
When I set a faction warp, it will be stored in memory locally. However, when the server is restarted, the warp is gone. Also, the faction's YML file (in the fdata directory), nothing is ever updated.

There are no errors in the console.

[2016-03-21 02:09] MarkehMe commented on #200
Can you explain your server setup a little more please? Have you changed the plugin directories? does config.yml exist?

[2016-03-21 02:14] MarkehMe commented on #200
I've just done a quick test of this with beta build 6 and it appears to be working correctly.

[2016-03-21 02:31] SirFaizdat commented on #200
This is my fdata file. http://hastebin.com/tiqadawimo.sm
This is my config.yml file. http://hastebin.com/elametayag.avrasm

Nothing appears to be writing at all.

[2016-03-21 02:36] MarkehMe commented on #200
Can you please do the following:

* Stop the server, delete the FactionsPlus folder, start the server
* Check the console for errors after a full routine (start server, create warp, stop server)
* Supply your Java versions (Java 8 is recommended)

[2016-03-21 02:49] SirFaizdat commented on #200
There are absolutely no error messages in console from FactionsPlus.
Java version: 1.8.0_60

[2016-03-21 03:05] MarkehMe commented on #200
I'm unable to reproduce this. Are you using Spigot for 1.9? Can you please provide your plugin versions.

[2016-03-21 03:08] SirFaizdat commented on #200
I'm using PaperSpigot 1.8.8 with the latest version of MassiveCore, Factions, and FactionsPlus.

[2016-03-21 03:19] MarkehMe commented on #200
I'm not sure how this will go with PaperSpigot, could you try using regular spigot and seeing if the issue is the same?

[2016-03-21 14:39] AirBrunt opened #201 "Warps"
It won't allow me to use my warps from essentials anymore.
How can I fix this problem?

[2016-03-22 04:58] MarkehMe commented on #201
We don't interact with essentials at all

[2016-03-22 04:58] #201 closed

[2016-03-22 14:28] AirBrunt commented on #201
when I type /warp name it says you must be in a faction
I know /f warp does that but /war seems to be doing the same for me

[2016-03-22 20:32] DraksterAU commented on #201
So this bug is the command alias has overridden essentials?

[2016-03-22 21:59] rockmanvnx6 opened #202 "Question about scoreboard"
How do you setup scoreboard. and plus, does it work with scoreboardstats plugin ?

[2016-03-23 00:04] AirBrunt commented on #201
Yes. my bad on not explaining it better. Is there away to fix?

[2016-03-23 00:35] DraksterAU commented on #201
@markeheme will definitely resolve that if it is the issue... Just be patient :)

[2016-03-23 00:35] DraksterAU commented on #201
Sorry I mean @markehme

[2016-03-23 00:40] AirBrunt commented on #201
Aight thanks

[2016-03-23 04:01] MarkehMe commented on #201
You mean it overrides ```/warp```?

[2016-03-23 04:02] MarkehMe commented on #202
I don't think the scoreboard is really useable right now, i've been a bit busy to fix it at the moment (one man team here)

[2016-03-23 04:02] #200 closed

[2016-03-23 05:59] DraksterAU commented on #201
Yeah

[2016-03-23 16:16] AirBrunt commented on #201
yes when faction plus is in it changes /warp <name> from essentials to a f warp. when its not in its all good

[2016-03-24 03:14] Momshroom opened #203 "./f setwarp and /f addrule only lets certain players do it, regardless of rank"
I'm not sure what I've configured wrong.  I'm using the newest factions 2.8.7beta and the most recent factionsplus beta on Spigot 1.9.
Who can do /f setwarp and /f addrule seems completely random, and unrelated to either faction rank or groupmanager rank.  Two different officers in the same faction:  one can and one cannot.  Another player is leader of their faction and cannot.   The same effect i

[2016-03-24 03:56] MarkehMe commented on #201
We don't even reference Essentials in the project, I'm really not sure what could cause that.

Are you 100% sure you didn't set an alias?

[2016-03-24 03:56] MarkehMe commented on #203
Are you using any other plugins like FactionsPerms to change permission groups?

Can you confirm the error message, as it should say if it was permission or rank

[2016-03-24 03:57] AirBrunt commented on #201
I'm sure

[2016-03-24 03:58] Momshroom commented on #203
It says rank.

[2016-03-24 04:00] MarkehMe commented on #203
Can you also confirm that there are no error messages in the console?

[2016-03-24 04:00] Momshroom commented on #203
There aren't.

[2016-03-24 04:02] MarkehMe commented on #201
I'm really confused by this. Please work with me here!

When you execute the command ```/warp``` it instead execute ```/f warp```?

[2016-03-24 05:47] MarkehMe commented on #203
[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/187310/FactionsPlus.jar.zip)

I have changed the way recently with how I check these things (I use my own internal object rather than Bukkit's Player object).

Is there anything specific about your server? e.g. is it an offline server?

[2016-03-24 06:45] Momshroom commented on #203
Yes, we're a bungeecord network so the factions server is in offline mode.

[2016-03-24 06:58] Momshroom commented on #203
Thank you.  When I drop that jar in, I get this error:
http://pastebin.com/zJbUWtcK

[2016-03-24 07:50] MarkehMe commented on #203
This might be where issues are coming from, as we check against UUIDs.. I will need to create some sort of internal UUID system for offline servers. Give me some time for this.

[2016-03-24 08:15] MarkehMe commented on #203
[FactionsPlus.jar.zip](https://github.com/MarkehMe/FactionsPlus/files/187441/FactionsPlus.jar.zip)

Can you try this? This will detect a null UUID, and attempt to do something with it

[2016-03-24 15:38] AirBrunt commented on #201
When I type /warp it says I need to be in a faction.
When factionsplus is not on the server I have no problem.

[2016-03-24 18:12] Momshroom commented on #203
Thank you so much for all the help.  I put the last jar in.  I've tried both as officer and as faction leader.  I don't get an error message trying to set a warp, but the console spams errors that look like this:
http://pastebin.com/rAsfydKd

Here are the pastebins from the error logs:
http://pastebin.com/LswZ1hqM
http://pastebin.com/M7J0jXRE
When I try /f warps, I get:
"You must be in a faction t

[2016-03-26 01:48] DraksterAU commented on #201
@airbrunt please zip up your plugins and mstore folder and provide it via Dropbox link :)

[2016-03-26 02:06] MarkehMe commented on #203
To be honest I'm just having too many issues with 1.8.7.Beta and Minecraft 1.9, so I will just wait until there is a more stable version of Factions available :disappointed:

[2016-03-26 03:27] Momshroom commented on #203
Okay.  Thank you very much for trying.  I really appreciate it.

[2016-03-26 13:49] AirBrunt commented on #201
Plugins:
1. Essentials-2.x-SNAPSHOT
2. EssentialsChat-2.x-SNAPSHOT
3. EssentialsGeoIP-2.x-SNAPSHOT
4. EssentialsSpawn-2.x-SNAPSHOT
5. FactionChat
6. Factions
7. FactionsPlus
8. MassiveCore
A Essentials command: http://prntscr.com/ak9eko
Error message in chat: http://prntscr.com/ak9eyy
MStore: https://www.dropbox.com/s/v42ynxiy2nrmjby/mstore.zip?dl=0

I tested it in a 1.8 server and 1.9 test server

[2016-03-27 10:51] MarkehMe commented on #201
If you disable Essentials does this return to normal?

[2016-03-28 02:20] ChrisLane commented on #185
@MarkehMe Why not just use the `org.bukkit.ChatColor` import instead?

[2016-03-28 14:01] MarkehMe commented on #185
I probably witched it back by now, it was Eclipse doing its own thing :grin:

[2016-03-28 16:05] AirBrunt commented on #201
If I disable Essentials I wont have my essentials warps.

[2016-03-28 16:24] ChrisLane commented on #185
Nope :smile: https://github.com/MarkehMe/FactionsPlus/blob/c730cb4cde5e31991ef27f675938b79626b7a1fe/src/me/markeh/factionsframework/objs/Perm.java#L5

[2016-03-29 05:31] MarkehMe commented on #201
I'm not asking you to keep it disabled, just to see if this is Essentials or not. If you disable Essentials does this return to normal?

[2016-03-29 15:57] AirBrunt commented on #201
Without essentials it says "/warp <name> [password=none]"

[2016-03-29 15:58] AirBrunt commented on #201
Basicly trying to say that /warp is the same as /f warp
But I need /warp for essentials.

[2016-03-30 00:32] DraksterAU commented on #201
@AirBrunt This is with Factions 2.8.7, isnt it?

[2016-03-30 00:35] MarkehMe commented on #201
I understand that you want the /warp command for essentials. I was simply asking to test if it's an interaction issue, and it's not :sweat_smile: If you type ```/join``` does this work as if it was ```/f join```?

[2016-03-30 00:43] AirBrunt commented on #201
Yes I'm using Factions 2.8.7.
As for /join it doesn't show up as a command.
/f join does work tho

[2016-04-08 08:53] DraksterAU commented on #189
@MarkehMe If you want I'm happy to pay for this to be completed. (I'm that keen for it, lol).
Just Message me or email me how much! ;)

[2016-04-08 19:41] DraksterAU commented on #189
Hi @MarkehMe

I decided to learn bukkit.... https://www.spigotmc.org/resources/regenerator.21470/
Thought it is better to stop hounding you :P

[2016-04-09 02:16] MarkehMe commented on #189
@DraksterAU awesome :) I'm actually abandoning the FactionsPlus project for FactionsFramework and creating all the features into modules instead. That info will come in the future though :smile:

[2016-04-09 05:41] DraksterAU commented on #189
:D No worries.... Your skills are a lot more awesome then mine so I look forward to seeing yours hehe :)
I was wondering, do you know of a way to compare the current chunk to the world seed? I couldn't find out how.... so that way Regenerator can skip chunks that do not differ.

[2016-04-09 17:51] Jwaffles04 opened #204 "Warps,Jails and Rules not enabled on the server"
Whenever I go into the configs to edit them, I save them and restart the server but it just reverts back to what is was before. Chest shop is also effected by this

[2016-04-10 07:27] MarkehMe commented on #204
Can you elaborate what yo mean by "Chest shop is also effected by this"? I'm not sure I understand

[2016-04-10 07:28] Jwaffles04 commented on #204
Well the whole problem is the configurations not saving when I change them and click save

[2016-04-10 07:30] MarkehMe commented on #204
This sounds like an issue with your server itself, the files are not saving?

[2016-04-10 07:34] Jwaffles04 commented on #204
Yeah they aren't saving, everything else is able to save besides factions plus

[2016-04-10 21:28] DraksterAU commented on #189
Awesome to hear man, modular stuff is better... plus some of those modules can be premium paid stuff! Earn some coin for your work!

[2016-04-14 04:35] tehrenderr commented on #204
Getting the same issue, I set faction warps to true and it just goes right back to false.

[2016-04-14 05:07] DraksterAU commented on #204
Are you using regular spigot 1.9.2?

[2016-04-14 22:24] tehrenderr commented on #204
I am not, but I am forced to use this version since it's the only one that supports factions 2.8.7 beta. You guys don't support that on factionsplus beta4 for some reason :/. I also noticed that the newer version of factionsplus overrides essentials /warp and /rules which is really inconvenient.

[2016-04-14 23:10] DraksterAU commented on #204
If your running running 1.9 - why not use factions 2.8.6 and same yiueSelf the heartache.

A beta release is a beta release for a reason :)

[2016-04-14 23:12] tehrenderr commented on #204
The other versions don't support 1.7

[2016-04-15 00:02] TheCobalt opened #205 "Plugin is not loading"
Here is the main line from my Console:
[18:53:24] [Server thread/ERROR]: Could not load 'plugins\FactionsPlus.jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.UnsupportedClassVersionError: me/markeh/factionsplus/FactionsPlus : Unsupported major.minor version 52.0
	at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.java:135) ~[spigot.jar:git-Spigot-12

[2016-04-15 00:24] DraksterAU commented on #205
Update your Java.

[2016-04-15 00:39] TheCobalt commented on #205
I actually use a host, how could I update the server java?

[2016-04-15 00:57] DraksterAU commented on #205
You'll have to ask them... Or get a better host..... Java 7 is out of date by at least 2 years now

[2016-04-15 01:01] DraksterAU commented on #204
Yes they do.... Are you talking about Cauldron/Thermos?

[2016-04-15 01:02] DraksterAU commented on #204
Install this if you are - Mark made some fixes we found into a plugin:

https://github.com/MarkehMe/MassiveCoreForgeFixes

Only works up to 2.8.6

[2016-04-15 01:08] DraksterAU commented on #205
Mark might be willing to compile FP for Java 7 - or you could try - it isn't hard :)

[2016-04-15 01:18] TheCobalt commented on #205
I will try thanks!

[2016-04-15 01:21] DraksterAU commented on #205
If you haven't fixed this in the Next 8 hrs I'll compile you a copy :)

[2016-04-15 01:27] tehrenderr commented on #204
No other version worked with paperspigot 1.7.10 and factions beta. Every other jar broke except for the 1.9 one.

[2016-04-15 01:49] DraksterAU commented on #204
How come your not using regular spigot 1.7.10?

[2016-04-15 01:51] DraksterAU commented on #204
Why are you so keen on using the factions beta, which they admit themselves isn't really stable?

[2016-04-16 02:13] TheCobalt commented on #205
Thank you very much! It's been confusing so if you have the time then I would love that!

[2016-04-16 07:12] DraksterAU commented on #205
@TheCobalt Sorry man.. I just realised FP depends on FactionsUUID for compilation.

Needs to be Mark.. I'm not buying it for this sorry :D

[2016-04-16 15:21] MarkehMe commented on #205
I actually use some Java 8 methods! But I will see what I can do:)

[2016-04-17 00:38] TheCobalt commented on #205
Okay thank you for your response. I understand how you wouldn't want to pay that ridiculous price for FactionsUUID

[2016-04-17 02:29] DraksterAU commented on #205
Haha no worries.

I would if I was going to use it more than once

[2016-04-17 21:57] Gerdon262 opened #207 "FactionsPlus commands based on faction rank"
Hello,

So I am loving your plugin! but I have 1 question / request.

Could you make it so that the commands can also be based on the faction rank like: Leader/Officer.
Because I have to make special ranks with the permission for setting a jail for example or when you have the permissions that the plugin wil look if the player is an leader / officer in the faction.

[2016-04-17 22:58] DraksterAU commented on #207
FactionsPerms could do this?

[2016-04-17 23:22] Gerdon262 commented on #207
That is per zone, but I mean is can you not add a 'ReqPlayerIsOfficer' class and add a ReqPlayerIsOfficer and ReqPlayerIsLeader in the 'CmdSetJail' Class as requirement ?

[2016-04-19 03:53] MarkehMe commented on #207
We're moving to ReqRankAtLeast instead now.

https://github.com/MarkehMe/FactionsFramework/blob/master/src/me/markeh/factionsframework/command/requirements/ReqRankAtLeast.java

[2016-04-19 03:53] #207 closed

[2016-04-19 03:54] MarkehMe commented on #205
(P.s. I didn't buy FactionsUUID, I compiled it from https://github.com/drtshock/Factions)

There are way too many Java 8 methods used - sorry, I can't compile it with Java 7. 😞

[2016-04-19 03:54] #205 closed

[2016-04-19 03:56] DraksterAU commented on #205
Oh cool!

[2016-04-20 21:24] tehrenderr opened #209 "FactionsPlus errors"
http://pastebin.com/FurmWxiL
http://pastebin.com/7LT1Z1hc
http://pastebin.com/eDwAH282

As you can see I tried different version of Factions and FactionsPlus. Nothing seems to work.

[2016-04-21 01:01] MarkehMe commented on #209
2.8.8 and above is not yet supported

2.8.7beta should be fine to use, but it's all kinda broken a bit. Please be patient, i'm creating the project into seperate modules at the moment!

[2016-04-21 05:09] tehrenderr commented on #209
I am using a custom version of factions 2.7.5, I'm afraid I can't use 2.8.7 beta. Here is the error I get for 2.7.5
http://pastebin.com/hRRG2TVP
When do you think you can have it fixed by? Sorry for the rush, I just planned on having my server reset soon.

[2016-04-21 05:48] DraksterAU commented on #209
Guessing your using cauldron?

[2016-04-21 05:54] DraksterAU commented on #209
If you are, you can use 2.8.10 with Markehmes Massivecoreforgefixes plugin :)

[2016-04-21 05:55] tehrenderr commented on #209
No, as stated in the pastebin error log I am using paperspigot 1.8.8

[2016-04-21 05:57] DraksterAU commented on #209
Righto. Why can't you go higher then? factions 2.8.x works fine with paper

[2016-04-21 06:02] tehrenderr commented on #209
They have a lot of bugs which needs to be fixed and my current factions is custom so I can't just upgrade. Besides if you look, I posted multiple pastebins in which I tried highger faction versions and the plugin still didn't work.

[2016-04-21 06:18] DraksterAU commented on #209
your version of massive core in the past bins is wrong. You need to use 2.8.8 with 2.8.8 factions.

[2016-04-21 06:19] DraksterAU commented on #209
The one which uses 2.8.6 factions in the pastebins uses beta 3 not 4. The other two suffer from massive core version issues.

[2016-04-21 06:26] tehrenderr commented on #209
Those pastebins were old. Iv'e literally tried every version, here I have the same factions and massivecore and I am using beta 4.
http://pastebin.com/VbJeZwr8

[2016-04-22 21:18] tehrenderr commented on #209
@MarkehMe @DraksterAU Do you guys know if you can get this fixed really soon? I really want to be able to use this plugin for my server reset.

[2016-04-22 21:21] DraksterAU commented on #209
@tehrenderr I am not the dev here, and Mark has already told several people he is rewriting the plugin. So probably not.
You can install this after your reset though. so not a worry there.

@MarkehMe You planning on supporting >2.0 <2.8?

[2016-04-22 21:22] tehrenderr commented on #209
I am planning on using Factions 2.7.5 I'm probably just going to have to get a dev to fix it then, I need the warps feature to be fully functional for my faction server.

[2016-04-22 21:23] DraksterAU commented on #209
How about upgrading your 'custom' features in 2.7.5 to 2.8.x ....

Good luck finding another dev to code FactionsPlus for you lol.

[2016-04-22 21:25] tehrenderr commented on #209
If you actually read this post you can see that I've tried using factions 2.8 just to test it and it still never worked. I don't need a dev to code a whole new factionsplus lol, I can just get them to fix the small issue themselves and make it compatible.

[2016-04-22 21:26] DraksterAU commented on #209
@MarkehMe Is already doing that though, so whats the point?

Do what you like. (usubscribing from post)

[2016-04-24 07:59] MarkehMe commented on #209
FactionsPlus is really a pain to compile (trust me I know), but my new plugins will replace these issues + be better 😄  I suggest just staying on the older version of Factions until these are available.

[2016-04-24 10:29] MarkehMe commented on #209
As an update.. I've released Factions Framework, and I'm creating everything into modules soon. 😄

Bukkit: http://dev.bukkit.org/bukkit-plugins/factionsframework/
GitHub: https://github.com/MarkehMe/FactionsFramework/wiki
SpigotMC: https://www.spigotmc.org/resources/factions-framework.22278/

[2016-04-24 17:08] tehrenderr commented on #209
I'm confused on what the framework actually does?

[2016-04-25 01:19] MarkehMe commented on #209
It lets anyone easily create a plugin for any version of factions

[2016-04-28 14:36] markhughes opened #210 "FactionsPlus End of Era"
### FactionsPlus has come to an end of era _*_

_*kinda_
FactionsPlus has been my baby since 2012 and its quite dreadful to watch it die, but it should have died a long time ago. Seriously, [it's come a long way](https://github.com/MarkehMe/FactionsPlus/tree/c6ba0a800293e5ea403e5485c076c72ee3f90583).

_Don't get me wrong_. The features that are in FactionsPlus are fantastic, and I believe they sho

[2016-04-28 14:37] MarkehMe commented on #209
See #210

[2016-04-28 14:37] MarkehMe commented on #203
See #210

[2016-04-28 14:57] tehrenderr commented on #210
Will you be making the f warps module anytime soon?

[2016-04-28 20:08] alexsatellite commented on #210
if you recreate f warps add a limit, for now I'll start to make my own f warp soon.

[2016-04-29 01:47] MarkehMe commented on #210
I've already created it, I'll put it up today

[2016-04-29 02:48] tehrenderr commented on #210
Awesome, please tag me once you release it.

[2016-04-29 04:01] MarkehMe commented on #210
@tehrenderr sure
https://github.com/MarkehMe/FactionsWarps/
http://dev.bukkit.org/bukkit-plugins/factionswarps/
https://www.spigotmc.org/resources/factionswarps.22510/

[2016-04-29 04:28] tehrenderr commented on #210
http://pastebin.com/LRSyqYAG
Still get an error :/. I don't see the reasoning for making the plugin for 1.9 considering most faction servers still run on 1.8/1.7.

[2016-04-30 01:47] MarkehMe commented on #210
I'm assuming you're using the release of Factions from a few days ago? The framework doesn't support it yet, i'm working on it

[2016-04-30 01:49] tehrenderr commented on #210
No I'm using factions 2.7.5

On Friday, April 29, 2016, Mark Hughes <notifications@github.com> wrote:

[2016-04-30 02:12] MarkehMe commented on #210
Can you open a ticket at https://github.com/MarkehMe/FactionsFramework/issues with this information? It thinks you're running Factions 2.8

[2016-05-07 14:04] Hyper4u commented on #210
How do i change in the config? I want to set warps to true and rules true and jails to true but when i do it and start the server it changes back to false

[2016-05-07 14:11] VerumUK commented on #210
FactionsPlus is no longer supported Hyper4u so it's likely a bug in the plugin which isn't going to get a patch, I'd recommend downloading his new FactionsFramework then the FactionsWarps to go with it, he hasn't quite done Jails just yet. Both are listed on Spigot and Bukkit so a quick search and you can find them easily.

[2016-05-07 14:17] alexsatellite commented on #210
if you're interested in downloading factionwarps, you'll have to compile it yourself because we have patched a lot of important bugs. Tomorrow I'll fix if it isnt fixed yet the warm-up which is creasing the time every time you use the command instead of going down the counter (For now you can use the bypass permission).

[2016-06-01 12:00] RektPotatoGaming opened #211 "Error for running Factions Plus"
[07:52:46 INFO]: [FactionsPlus] [Error] It has been saved to plugins\FactionsPlus\logs\1464781966024.errorlog
[07:52:46 INFO]: [FactionsPlus] [Error] Please upload to pastebin.com and include in any error reports.

Please help me fix this.

[2016-06-01 12:41] MarkehMe commented on #211
Read exactly what you just posted, and follow the instructions.

[2016-06-01 12:41] #211 closed